doctype html
html(lang="en")
  head
    title COMP 2406
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    h1 Find Movies & Make a Watchlist
    hr
