doctype html
html(lang="en")
  head
    title Movie ID
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/styles.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
  body
    p
      a(href="http://localhost:3000/moviesName", style="color: blue; text-decoration: underline;") Search Movies By Name
    p
      a(href="http://localhost:3000/watchlist", style="color: blue; text-decoration: underline;") Go to Watchlist

    .container
      .wrapper
        | Enter Movie ID to Add to Watchlist: 
        input(type="text", id="id")
        button(id="submit_movieById_button", style="margin-bottom: 50px;") Submit

      #movieID

    script(src="js/watchlistScript.js")
