doctype html
html(lang="en")
  head
    title COMP 2406
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    h1 Movie Watchlist
    p
      a(href="http://localhost:3000/moviesName") Search Movies By Name
    p
      a(href="http://localhost:3000/movieID") Add Movies to Watchlist with ID's
    p 
      a(href="http://localhost:3000/index.html") Back to Main Page 

    hr
